$baseFontColor: #111111;
$headerFontColor: #FFFFFF;
$lightBackground: #F8F8F8;
$darkBackground: #222222;
$baseFontSize: 1rem; //16px
$borderRadius: 20px;
$sectionNarrow: 160px; //padding left and right 160px + 10px from page

$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;

