.button {
  display: block;
  margin: 0;
  padding: 15px;
  font-size: $baseFontSize;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;

  &_dark {
    color: #ffffff;
    background-color: $darkBackground;
  }

  &_dark:hover,
  &_dark:active {
    opacity: 0.85;
  }

  &_light{
    color: #222222;
    background-color: #ffffff;
  }

  &_light:hover,
  &_light:active {
    opacity: 0.93;
  }
}

@media screen and (max-width: $tablet) {
  .button {
    padding: 12px;
    font-size: 0.87 * $baseFontSize;
    line-height: 1.71;
  }

}

@media screen and (max-width: $mobile) {
  .button {
    width: 260px;
    padding: 10px;
    font-size: 0.75 * $baseFontSize;
    line-height: 2;
  }
}
