.feature {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  &__item {
    width: 100%;
    max-width: 540px;
    height: 308px;
    margin: 0;
    padding: 40px;
    color: $baseFontColor;
    background-color: $lightBackground;
    border-radius: $borderRadius;
    box-sizing: border-box;
  }

  &__tag {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 1.13 * $baseFontSize;
    font-weight: 500;
    line-height: 1.11;
    opacity: 0.6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__heading {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    height: 76px;
    font-weight: 600;
    font-size: 2 * $baseFontSize;
    line-height: 1.19;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__description {
    @include blockSubtitle;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media screen and (max-width: $tablet) {
  .feature {
    gap: 10px;
  }

  .feature__item {
    max-width: 349px;
    height: 284px;
    padding: 30px;
  }

  .feature__tag {
    margin-bottom: 12px;
    font-size: 0.93 * $baseFontSize;
    line-height: 1.33;
  }

  .feature__heading {
    height: 93px;
    margin-bottom: 19px;
    font-size: 1.62 * $baseFontSize;
    line-height: 1.19;
  }

  .feature__description {
    font-size: 0.93 * $baseFontSize;
    line-height: 1.33;
  }
}

@media screen and (max-width: $mobile) {
  .feature {
    position: relative;
    height: calc(284px + 24px); // либо сделать радиобаттон с паддинг топ 284px ?????!!!!
    gap: 0;
  }

  .feature__item {
    position: absolute;
    padding: 20px;
    //max-width: 300px;
  }
}
