.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 470px;
  justify-content: space-between;
  margin: 0;
  padding: 60px 790px 60px 160px;
  color: $headerFontColor;
  background-color: $darkBackground;
  border-radius: $borderRadius;
  box-sizing: border-box;

  &__title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-weight: 600;
    font-size: 2 * $baseFontSize;
    line-height: 1.19;
    color: #FFFFFF;
  }

  &__subtitle{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  &__button {
    width: 100%;
    margin-top: auto;
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 220px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
  }
}
